.contact-details {
    height: 400px;
    width: 400px;
    border: 1px solid lightgray;
    margin: 0 auto
  
}

.contact-details img {
    height: 150px;
    width: 150px;
}

.contact-card {
    padding-top: 10px;
    font-size: larger;
 
}





